li.active{
	color: #df691a;
	font-weight: bold;
}
.router-link-active{
	color: #555;
    background-color: #e7e7e7;
}
.list_ul{
	list-style: none;
	padding: 0;
}
.list_ul li{
	display: inline-block;
	padding: 3px;
	cursor: pointer;
}
.card-thumb{
	width: 184px;
    height: 261px;
}
/*卡牌详情页*/
.card-info-des{
	width: 300px;
	float: right;
}